*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
}

header{
    background-color: white;
    height: 5em;
}

img{
    margin-left: 2%;
    margin-top: 14spx;
}

.headtag{
    float: right;
    margin-top: 33px;
    margin-right: 50px;
}

.headtag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid burlywood;
    padding: 8px;
    margin-right: 8px;
}

.headtag a:hover{
    background-color: rgb(217, 120, 29);
    color: white;
    transition: 0.15s ease-in-out;
}
.asidecontent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 61, 61);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-right: 600px;
}
form{
    float: right;
    border: 2px solid red;
    background-color: beige;
    height: 16em;
    padding: 25px;
    margin-top: 50px;
    margin-right: 30px;
}

.login h2{
    text-align: center;
}

.login input{
    height: 1.5em;
}

#loginbut{
    width: 100%;
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
}

.container{
    /* border: 2px solid black; */
    margin-top: 11%;
    margin-left: 3%;
}
.pbox{
    border: 2px solid white;
    width: 23%;
    margin: 10px;
    float: right;
    height: 18em;
    background-color: silver;
}

.pbox h3{
    text-align: center;
    text-transform: uppercase;
}

.pbox p{
    line-height: 1.25em;
    text-align: justify;
}

.pbox a{
    text-decoration: none;
    color: red;
}

footer{
    padding-top: 5px;
    height: 1.7em;
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 39%;
}